/* Flexbox layout for portfolio */

:root {
    --lightGray: #3f4152;
    --purple: #bd93f9;
    --light: #bbbbbb;
    --darkGray: #282a36;
    --pink: #ff87d7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

@media (min-width: 900px) {
    html {font-size: 13px;}
}
@media (max-width: 400px) {
    html {font-size: 11px;}
    main {min-width: 718px;}
}

body {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--darkGray);
    margin: 10px;
    color: var(--light);
}

header {
    text-align: center;
    color: var(--light);
    padding: 4rem;
    background-image: url("../images/macos.png");
    background-position: center;
    position: relative;
}

header h1 {
    font-size: 3.8rem;
    color: var(--purple);
    float:  left;
    margin-left: -3rem;
}

header ul {
    list-style: none;
}
header ul li {
    display: inline;
    float: right;
    padding: 10px;
}

header ul li a:link, a:visited, a:hover, a:active { color: var(--light); }

header ul li a:hover {
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--pink);
    border-radius: 7px;
}


main {
    padding-bottom: 15px;
    outline: dashed 2px var(--light);
}

article {
    margin: 10px;
    padding: 20px;

}

article h2 {
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}

.bodybox {
    width: 49%;
    text-align: left;
    border-right: solid .4rem #bd93f9;
}


.workItem {
    max-height: 30rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 2.5rem;
    gap: 1rem;
    position: relative;
}

.workItem a, a:visited, a:active {
    opacity: 0.2;
    text-decoration: none;
    color: var(--light);
}

.workItem a:hover {
    opacity: 0.4;
}


.contactLink a:link, a:visited, a:hover, a:active {
    color: var(--light);
    text-decoration: none;
}

.contactLink a:hover {
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--pink);
    border-radius: 7px;
}

.contactLinkText {
    position: absolute;
    bottom: 1.2rem;
    left: .2rem;
    background: #fff;
}