:root {
    --lightGray: #3f4152;
    --purple: #bd93f9;
    --light: #bbbbbb;
    --darkGray: #282a36;
    --pink: #ff87d7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

@media (max-width: 900px) {
    html {font-size: 13px;}
}
@media (max-width: 400px) {
    html {font-size: 11px;}
}

body {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--darkGray);
    margin: 10px;
    color: var(--purple);
}

header {
    text-align: center;
    color: var(--light);
    padding: 4rem;
    background-color: var(--lightGray);
    position: relative;
}

header h1 {
    font-size: 3.8rem;
    color: var(--purple);
    float:  left;
    margin-left: -3rem;
}

header ul {
    list-style: none;
}
header ul li {
    display: inline;
    float: right;
    padding: 10px;
}

header ul li a:link, a:visited, a:hover, a:active { color: var(--light); }

header ul li a:hover {
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--pink);
    border-radius: 7px;
}


main {
    padding-bottom: 15px;
}

article {
    margin: 10px;
    padding: 20px;
    outline: dashed 2px var(--light);
}

article h4 {
    position: relative;
    margin-top: -33px;
    outline: 1px solid var(--light);
    border-radius: 4px;
    background-color: var(--lightGray);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}